$main-font: Lato, PT Sans, Helvetica Neue, Helvetica, Arial;

// colors

$header-color: #3FA9F5;

$yellow: #FFBE63;
$grey-blue: #3E6AA3;
$footer-color: #2B2B2B;
$light-blue: #CFF1F6;
$bright-green : #74d679;
// heights

$header-height: 100px;
$footer-height: 80px;
$logo-size: 4.5em;
$logo-offset: 10px;
