@import 'variables';
// general styling
body {
	// background-color: #3FA9F5;
	// color: white;
}

.login-btn {
  display: block !important;
  margin: 0 auto !important;
  min-width: 150px;
}

.R2zU9JsZW1r2id-qp7H3S {
  width: 100% !important;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


// Client Dashboard

// Client letter Table 

.active-state {
	color: $bright-green;
}
.arrow-status {
	padding: 0 inherit;
}
.arrow-right {
	padding-left: 1px;
}


