@import 'variables';
/******************************* general styling ****************************/
body {
	background-color: $header-color;
	color: white;
  font-family: 'Open Sans', sans-serif;
}
.logo {
	width: 100%;
	max-width: 360px;
	display: block;
}

.container {
	margin-bottom: 30px;
	margin-top: 15px;
	padding: 0;
}

/******************************* homepage ****************************/
.login-btn {
  display: block !important;
  margin: 0 auto !important;
  min-width: 150px;
}

.default-button {
	background-color: $bright-green;
	padding: 1em;
  border-radius: 14px;
	border-width: 0.5px;
	border: none;
	margin: 10px;
	min-width: 175px;
}
.homepage-button {
	font-size: 1.45em;
	width: 100%;
	display: block;
	margin: 20px auto 15px auto;
}

.R2zU9JsZW1r2id-qp7H3S {
  width: 100% !important;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.homepage-buttons-container {
	margin-top: 3em;
}
.brand-title {
	font-size: 6em;
}
.title-container {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

@media screen and (max-width: 1080px) {
	.homepage-button {
		width: 60%;
	}
}

@media screen and (max-width: 600px) {
	.brand-title {
		font-size: 4.5em;
	}
}

/******************************* Client Dashboard ****************************/
.client-dashboard-logo{
	
}






/**************************** Client letter Table **************************/

.active-state {
	color: $bright-green;
}
.arrow-status {
	padding: 0 inherit;
}
.arrow-right {
	padding-left: 1px;
}

//clinician dashboard

.search-bar-container {
	padding-top: 1em;
	text-align: center;
}
.header-buttons {
	padding-top: 1em;
	text-align: center;
}
.client-list-container{
	padding-top: 2em;
}
.clinician-dashboard-logo {
	width: 142%;
}
.panel-default .panel-heading {
	background-color: #2c6ab7;
	background-image: none;
	vertical-align: middle;
	color: white;
	border: 1px solid #2c6ab7;
	border-radius: 14px;
	.collapse {
		border-bottom-left-radius: none;
		border-bottom-right-radius: none;
	}
}
.panel {
	background-color: $header-color
}
.panel-collapse .panel-body {
    border-top: 0px solid #ddd;
}
.panel-group .panel {
    margin-bottom: 14px;
    border-radius: 14px;
}
.panel-default {
    border: none;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}
.progress-bar-styling {
	background-color: white;
}
.progress-bar-warning {
	    background-image: linear-gradient(to bottom, #74d679 0, #37ba3e 100%);
}
.progress {
	margin-bottom: 0;
}
.btn-info {
	// background-image: linear-gradient(to bottom, #74d679 0, #37ba3e 100%);
	background-image: none;
	background-color: #74d679;
	border: none;
	box-shadow: none;
	border-radius: 7px;
	text-shadow: none;
	padding: 0.5em;
}
.search-bar {
	padding-top: 0.5em;
}
.btn-link {
	color: $grey-blue;
	font-weight: bold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
.mini-bird{
	height: 100%;
	width: auto;
	padding-left: 0.5em;

}

// Login-modals

.modal-content {
	.signup-form-label, .signup-input, .modal-title {
		color: black;
	}
	.signup-split-panel {
		border-right: 2px dotted darkgray;
	}
	.image-container {
		width: 100px;
	}
	.patient-image {
		padding-top: 30px
	}
}

// Add Letter modal

.modal-content {
	.control-label {
		color: black;
	}
}
